#root{
    background-color: #ece6e6;
    min-height: 100vh;
}

.theme_accent{
    /*color:#ee6d41;*/
    /*color:gray;*/
    font-weight: bolder;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    align-items: center;
    background-color: #ee6d41;
    color: white;
}
.header-logo{
    width:6rem;
    height:6rem;
}

.header-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-nav-items ul{
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
    list-style-type: none;
}

.fa_body{
    padding:2rem;
}

.fa_container{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    padding-block:2rem;
    justify-content: center;
}


.fa_card{
    width:18rem;
    background-color:white;
    border-radius: 0.5rem;
    padding:0.5rem;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    transition: all linear 0.4s;
}

.fa_card_img{
    height:12rem;
    object-fit:fill;
}
.fa_card_img > img{
    height: 100%;
    width: 100%;
}

.fa_card_ratings{
    display: flex;
    justify-content: space-between;
}

.fa_card:hover{
    cursor:pointer;
    /*outline:1px solid gray;*/
    transform:scale(1.01);
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
}