#root{
    background-color: #ece6e6;
    min-height: 100vh;
}

.theme_accent{
    /*color:#ee6d41;*/
    /*color:gray;*/
    font-weight: bolder;
}

.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fui{
    color:#f0f0f0;
    background: #f0f0f0;
}

.fui_card{
    filter:drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)) !important;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 6rem;
    align-items: center;
    background-color: #ee6d41;
    color: white;
}
.header-logo{
    width:6rem;
    height:6rem;
}

.header-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-nav-items ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.header-nav-items ul li{
   transition: 0.4s;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bolder;
}

.header-nav-items ul li:hover{
    transform:scale(0.9);
}

.login_btn{
    border:none;
    background-color:#ee6d41;
    color:white;
    font-weight: bolder;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s;
}

.login_btn:hover{
    transform: scale(0.9);
}

.fa_body{
    padding:2rem;
}

.fa_container{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    padding-block:2rem;
    justify-content: center;
}

.fa_serach{
    display: flex;
    justify-content: space-around;
    alignitems: center;
}



#fa_search_btn_input{
    margin-right:1rem;
    padding:0.8rem 1.2rem;
    border:none;
}

.topResBtnDiv{
    display: flex;
    justify-content: center;
}

.resBtn{
    border:none;
    padding:0.8rem 1.2rem;
    background-color: white;
    cursor:pointer;
    position: relative;
    transition: all linear 300ms;
}


.resBtn:hover{
    background-color: #ee6d41;
    color:white;
}


.fa_card{
    width:18rem;
    background-color:white;
    border-radius: 0.5rem;
    padding:0.5rem;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    transition: all linear 0.4s;
}

.fa_card_img{
    height:12rem;
    object-fit:fill;
}
.fa_card_img > img{
    height: 100%;
    width: 100%;
}

.fa_card_ratings{
    display: flex;
    justify-content: space-between;
}

.fa_card:hover{
    cursor:pointer;
    /*outline:1px solid gray;*/
    transform:scale(1.01);
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
}